<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="LOG_DIR" value="/a/logs/app/task"/>
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%p] - %msg %n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <appender name="rollingFileINFO" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_DIR}/task-info.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_DIR}/info/task-info.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%p] - %msg %n</pattern>
            <charset>UTF-8</charset>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
    </appender>

    <appender name="rollingFileERROR" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_DIR}/task-error.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_DIR}/error/task-error.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%p] - %msg %n</pattern>
            <charset>UTF-8</charset>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>WARN</level>
        </filter>
    </appender>

    <!-- 测试环境，配置sentry用来收集日志-->
    <appender name="sentry-dev" class="com.getsentry.raven.logback.SentryAppender">
        <dsn>http://dd01d419c30f4f8c86a2253c63361827:acd256e054944735af4d30d1a542b763@49.232.65.109:9000/59</dsn>
        <tags>tag1:value1,tag2:value2</tags>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>error</level>
        </filter>
    </appender>

    <!-- 生产环境，配置sentry用来收集日志-->
    <appender name="sentry-prod" class="com.getsentry.raven.logback.SentryAppender">
        <dsn>http://cf1a6ab20d314b3688f92c6cb011fe9f:7e57d8bc15b844628330ad25999a7920@49.232.65.109:9000/60</dsn>
        <tags>tag1:value1,tag2:value2</tags>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>error</level>
        </filter>
    </appender>

    <logger name="com.dl.task" level="INFO"/>
    <logger name="org.springframework" level="INFO"/>
    <logger name="com.dl.task.dao" level="INFO"/>
    <logger name="com.alibaba.druid" level="WARN"/>

    <!--测试环境日志配置-->
    <springProfile name="dev">
        <root level="info">
            <appender-ref ref="console"/>
            <appender-ref ref="rollingFileINFO"/>
            <appender-ref ref="rollingFileERROR"/>
            <appender-ref ref="sentry-dev"/>
        </root>
    </springProfile>

    <!-- 生产环境日志配置-->
    <springProfile name="prod">
        <root level="info">
            <appender-ref ref="console"/>
            <appender-ref ref="rollingFileINFO"/>
            <appender-ref ref="rollingFileERROR"/>
            <appender-ref ref="sentry-prod"/>
        </root>
    </springProfile>
</configuration>
