<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dl.task.dao.DlLotteryClassifyMapper">
  <resultMap id="BaseResultMap" type="com.dl.task.model.DlLotteryClassify">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="lottery_classify_id" jdbcType="INTEGER" property="lotteryClassifyId" />
    <result column="lottery_name" jdbcType="VARCHAR" property="lotteryName" />
    <result column="lottery_img" jdbcType="VARCHAR" property="lotteryImg" />
    <result column="sub_title" jdbcType="VARCHAR" property="subTitle" />
    <result column="sort" jdbcType="INTEGER" property="sort" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="is_show" jdbcType="INTEGER" property="isShow" />
    <result column="create_time" jdbcType="INTEGER" property="createTime" />
    <result column="redirect_url" jdbcType="VARCHAR" property="redirectUrl" />
    <result column="status_reason" jdbcType="VARCHAR" property="statusReason" />
  </resultMap>
  <select id="selectOneByLotteryClassifyId" resultMap="BaseResultMap">
  select * from dl_lottery_classify where lottery_classify_id=#{lotteryClassifyId}
  </select>
</mapper>