<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dl.task.dao2.DlMatchResultMapper">
  <resultMap id="BaseResultMap" type="com.dl.task.model.DlMatchResult">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="changci_id" jdbcType="INTEGER" property="changciId" />
    <result column="first_half" jdbcType="VARCHAR" property="firstHalf" />
    <result column="whole" jdbcType="VARCHAR" property="whole" />
    <result column="match_status" jdbcType="VARCHAR" property="matchStatus" />
    <result column="match_minutes" jdbcType="VARCHAR" property="matchMinutes" />
    <result column="goalline" jdbcType="VARCHAR" property="goalline" />
    <result column="had" jdbcType="VARCHAR" property="had" />
    <result column="hhad" jdbcType="VARCHAR" property="hhad" />
    <result column="ttg" jdbcType="VARCHAR" property="ttg" />
    <result column="hafu" jdbcType="VARCHAR" property="hafu" />
    <result column="crs" jdbcType="VARCHAR" property="crs" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="status" jdbcType="INTEGER" property="status" />
  </resultMap>
  
  <sql id="allFields">
  	id,changci_id,first_half,whole,match_status,match_minutes,goalline,
  	had,hhad,ttg,hafu,crs,create_time,update_time,status
  </sql>
  
  <select id="goGetMatchResult" resultMap="BaseResultMap">
  	select 
	   <include refid="allFields"/>
  	from dl_match_result 
  	where status=0 and match_status=1 and league_from=0
  </select>
  
  <update id="updateMatchResult">
  	update dl_match_result
  	set had=#{had},
  	hhad=#{hhad},
  	ttg=#{ttg},
  	hafu=#{hafu},
  	crs=#{crs},
  	status=1
  	where status=0 and id=#{id}
  </update>
</mapper>