<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dl.task.dao.DlMessageMapper">
  <resultMap id="BaseResultMap" type="com.dl.task.model.DlMessage">
    <id column="msg_id" jdbcType="INTEGER" property="msgId" />
    <result column="sender" jdbcType="INTEGER" property="sender" />
    <result column="send_time" jdbcType="INTEGER" property="sendTime" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="msg_type" jdbcType="INTEGER" property="msgType" />
    <result column="push_type" jdbcType="VARCHAR" property="pushType" />
    <result column="push_value" jdbcType="VARCHAR" property="pushValue" />
    <result column="receiver" jdbcType="INTEGER" property="receiver" />
    <result column="receiver_mobile" jdbcType="VARCHAR" property="receiverMobile" />
    <result column="object_type" jdbcType="INTEGER" property="objectType" />
    <result column="is_mobile_success" jdbcType="INTEGER" property="isMobileSuccess" />
    <result column="is_push_success" jdbcType="INTEGER" property="isPushSuccess" />
    <result column="is_read" jdbcType="INTEGER" property="isRead" />
    <result column="content" jdbcType="LONGVARCHAR" property="content" />
    <result column="content_url" jdbcType="LONGVARCHAR" property="contentUrl" />
    <result column="content_desc" jdbcType="LONGVARCHAR" property="contentDesc" />
    <result column="msg_desc" jdbcType="LONGVARCHAR" property="msgDesc" />
    <result column="msg_url" jdbcType="LONGVARCHAR" property="msgUrl" />
  </resultMap>
  
  <sql id="fields">
  	msg_id,sender,send_time,title,msg_type,push_type,push_value,receiver,receiver_mobile,object_type,
  	is_mobile_success,is_push_success,is_read,content,msg_desc,content_url,msg_url
  </sql>
  
  <sql id="key">
      <trim suffixOverrides=",">
        <if test="msgId!=null">
            msg_id,
        </if>
        <if test="sender!=null">
            sender,
        </if>
        <if test="sendTime!=null">
            send_time,
        </if>
        <if test="title!=null">
            title,
        </if>
        <if test="msgType!=null">
            msg_type,
        </if>
        <if test="pushType!=null">
            push_type,
        </if>
        <if test="pushValue!=null">
            push_value,
        </if>
        <if test="receiver!=null">
            receiver,
        </if>
        <if test="receiverMobile">
            receiver_mobile,
        </if>
        <if test="objectType!=null">
            object_type,
        </if>
        <if test="isMobileSuccess!=null">
            is_mobile_success,
        </if>
        <if test="isPushSuccess">
            is_push_success,
        </if>
        <if test="isRead!=null">
            is_read,
        </if>
        <if test="content!=null">
            content,
        </if>
         <if test="contentDesc!=null">
            content_desc,
        </if> 
        <if test="contentUrl!=null">
            content_url,
        </if>  
        <if test="msgDesc!=null">
            msg_desc,
        </if>   
        <if test="msgUrl!=null">
            msg_url,
        </if>                             
      </trim>
    </sql>


    <sql id="value">
      <trim suffixOverrides=",">
        <if test="msgId!=null">
            #{msgId},
        </if>
        <if test="sender!=null">
            #{sender},
        </if>
        <if test="sendTime!=null">
            #{sendTime},
        </if>
        <if test="title!=null">
            #{title},
        </if>
        <if test="msgType!=null">
            #{msgType},
        </if>
        <if test="pushType!=null">
            #{pushType},
        </if>
        <if test="pushValue!=null">
            #{pushValue},
        </if>
        <if test="receiver!=null">
            #{receiver},
        </if>
        <if test="receiverMobile!=null">
            #{receiverMobile},
        </if>
        <if test="objectType!=null">
            #{objectType},
        </if>
        <if test="isMobileSuccess!=null">
            #{isMobileSuccess},
        </if>
        <if test="isPushSuccess!=null">
            #{isPushSuccess},
        </if>
        <if test="isRead!=null">
            #{isRead},
        </if>
        <if test="content!=null">
            #{content},
        </if>
        <if test="contentDesc!=null">
             #{contentDesc},
        </if>   
         <if test="contentUrl!=null">
            #{contentUrl},
        </if>  
        <if test="msgUrl!=null">
            #{msgUrl},
        </if>                           
      </trim>
    </sql>
    
  <insert id="insertUserAccountBySelective">
  	INSERT INTO dl_user_account(<include refid="key"/>) values(<include refid="value"/>);
  </insert>
  <select id="findUserMessageList" resultMap="BaseResultMap">
  	select 
  		<include refid="fields"/>
  	from 
  		dl_message
  	where 
  		msg_type=#{msgType} and (receiver=#{receiver} or receiver =-1)
  	order by send_time desc
  </select>
  
  <select id="getUnReadMessageNum" resultType="int">
  	SELECT count(1) FROM dl_message WHERE receiver=#{userId} and is_read=0
  </select>
  
  <update id="updateUnReadMessage">
  	update dl_message set is_read = 1 where receiver=#{userId} and is_read=0
  </update>
</mapper>