<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dl.task.dao.DlPrintLotteryMapper">
  <resultMap id="BaseResultMap" type="com.dl.task.model.DlPrintLottery">
    <id column="print_lottery_id" jdbcType="INTEGER" property="printLotteryId" />
    <result column="order_sn" jdbcType="VARCHAR" property="orderSn" />
    <result column="ticket_id" jdbcType="VARCHAR" property="ticketId" />
    <result column="accept_time" jdbcType="INTEGER" property="acceptTime" />
    <result column="merchant" jdbcType="VARCHAR" property="merchant" />
    <result column="game" jdbcType="VARCHAR" property="game" />
    <result column="issue" jdbcType="VARCHAR" property="issue" />
    <result column="play_type" jdbcType="VARCHAR" property="playType" />
    <result column="bet_type" jdbcType="VARCHAR" property="betType" />
    <result column="times" jdbcType="INTEGER" property="times" />
    <result column="money" jdbcType="DECIMAL" property="money" />
    <result column="stakes" jdbcType="VARCHAR" property="stakes" />
    <result column="reward_stakes" jdbcType="VARCHAR" property="rewardStakes" />
    <result column="error_code" jdbcType="INTEGER" property="errorCode" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="platform_id" jdbcType="VARCHAR" property="platformId" />
    <result column="print_status" jdbcType="INTEGER" property="printStatus" />
    <result column="print_sp" jdbcType="VARCHAR" property="printSp" />
    <result column="print_no" jdbcType="VARCHAR" property="printNo" />
    <result column="print_time" jdbcType="TIMESTAMP" property="printTime" />
    <result column="real_reward_money" jdbcType="DECIMAL" property="realRewardMoney" />
    <result column="third_part_reward_money" jdbcType="DECIMAL" property="thirdPartRewardMoney" />
    <result column="compare_status" jdbcType="VARCHAR" property="compareStatus" />
    <result column="compared_stakes" jdbcType="VARCHAR" property="comparedStakes" />
  </resultMap>
  
  <sql id="allFields">
  print_lottery_id,order_sn,ticket_id,accept_time,merchant,game,issue,play_type,
  bet_type,times,money,stakes,reward_stakes,error_code,status,platform_id,print_status,
  print_sp,print_no,print_time,real_reward_money,third_part_reward_money,compare_status,
  compared_stakes
  </sql>
  
   <select id="lotteryPrintsByUnPrint" resultMap="BaseResultMap">
  	select 
		<include refid="allFields"></include>
  	from dl_print_lottery 
  	where status=0 
    order by order_sn
  </select>
  <select id="selectDlPrintLotteryByTicketId" resultMap="BaseResultMap">
  	select 
		<include refid="allFields"></include>
  	from dl_print_lottery 
  	where ticket_id=#{ticketId}
  </select>
  
   <select id="getPrintIngLotterys" resultMap="BaseResultMap">
  	select 
		<include refid="allFields"></include>
  	from dl_print_lottery 
  	where status=3 
    order by order_sn
  </select>
  
  <update id="updatePrintIngStatusByTicketId">
  	update dl_print_lottery set 
  	status=3 
  	where status=0 and ticket_id=#{ticketId}
  </update>
  
  <update id="updatePrintErrorStatusByTicketId">
  	update dl_print_lottery set 
  	error_code=#{errorCode}, 
  	status=2,
  	print_time=#{printTime}
  	where status=0 and ticket_id=#{ticketId}
  </update>
  
   <update id="updateLotteryPrintByCallBack">
    update dl_print_lottery set
           status = #{status},
           platform_id = #{platformId},
           print_status = #{printStatus},
           print_sp = #{printSp},
           print_no = #{printNo},
           print_time = #{printTime}
    where status=3 and ticket_id = #{ticketId}
  </update>
  
  <insert id="saveLotteryThirdApiLog">
  	insert into dl_third_api_log(api_name,api_type,api_param,api_result,api_desc)
  	values(#{apiName},#{apiType},#{apiParam},#{apiResult},#{apiDesc})
  </insert>
  
   <select id="lotteryPrintsByUnCompare" resultMap="BaseResultMap">
  	select 
  	<include refid="allFields"></include>
  	from dl_print_lottery 
  	where game='T51' and status=1 
  	and (compare_status = 0 or compare_status is null or compare_status = '')
  	and stakes is not null and stakes != ''
  </select>
  
  <update id="updatePrintLotteryCompareInfo">
  	UPDATE dl_print_lottery  
  	SET reward_stakes = #{rewardStakes},
  	real_reward_money = #{realRewardMoney},
  	compare_status = #{compareStatus}, 
  	compared_stakes = #{comparedStakes} 
  	where compare_status = 0 and print_lottery_id = #{printLotteryId}
  </update>
  
   <select id="getPrintLotteryListByGoOpenRewardOrderSns" resultMap="BaseResultMap">
  	select 
  	<include refid="allFields"></include>
  	from dl_print_lottery 
  	where status=1 and order_sn in 
  	 <foreach collection="orderSns" item="orderSn" index="index" open="(" separator="," close=")">
		#{orderSn}
     </foreach>
     order by order_sn
  </select>
   <select id="printLotterysByOrderSn" resultMap="BaseResultMap">
  	select 
  	<include refid="allFields"></include>
  	from dl_print_lottery 
  	where order_sn=#{orderSn} 
  </select>
  <select id="lotteryPrintsHenanByUnPrint" resultMap="BaseResultMap">
  	select * from dl_print_lottery 
  	where status=0 and print_lottery_com = 1
     order by order_sn
  </select>
  <select id="lotteryPrintsXianByUnPrint" resultMap="BaseResultMap">
  	select * from dl_print_lottery 
  	where status=0 and print_lottery_com = 2
     order by order_sn
  </select>
  <select id="getPrintIngLotterysHenan" resultMap="BaseResultMap">
  	select * from dl_print_lottery where status=3 and print_lottery_com=1 order by order_sn
  </select>
  <select id="getPrintIngLotterysXian" resultMap="BaseResultMap">
  	select * from dl_print_lottery where status=3 and print_lottery_com=2 order by order_sn
  </select>
   <select id="printLotteryRoutAmount" resultType="java.lang.Double">
  	 select value from dl_sys_config where business_id=10;
  </select>
  <update id="updatePrintLotteryFailStatus">
    update dl_print_lottery set 
  	error_code='55555', 
  	status=2 
  	where print_status=17 and ticket_id=#{ticketId}
  </update>
  <update id="updatePrintStatusByTicketId">
  	update dl_print_lottery set 
  	error_code=#{errorCode}, 
  	status=#{status} 
  	<if test="printTime != null ">
	     ,print_time = #{printTime}
	</if>
  	where ticket_id=#{ticketId}
  </update>
</mapper>