<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dl.task.dao.DlTicketChannelLotteryClassifyMapper">
  <resultMap id="BaseResultMap" type="com.dl.task.model.DlTicketChannelLotteryClassify">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="ticket_channel_id" jdbcType="INTEGER" property="ticketChannelId" />
    <result column="ticket_channel_name" jdbcType="VARCHAR" property="ticketChannelName" />
    <result column="lottery_classify_id" jdbcType="INTEGER" property="lotteryClassifyId" />
    <result column="lottery_classify_name" jdbcType="VARCHAR" property="lotteryClassifyName" />
    <result column="game" jdbcType="VARCHAR" property="game" />
    <result column="min_bet_amount" jdbcType="DECIMAL" property="minBetAmount" />
    <result column="max_bet_amount" jdbcType="DECIMAL" property="maxBetAmount" />
    <result column="sale_end_time" jdbcType="VARCHAR" property="saleEndTime" />
    <result column="matchine_open_time" jdbcType="VARCHAR" property="matchineOpenTime" />
    <result column="matchine_close_time" jdbcType="VARCHAR" property="matchineCloseTime" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="add_time" jdbcType="INTEGER" property="addTime" />
    <result column="update_time" jdbcType="INTEGER" property="updateTime" />
    <result column="min_bet_amount_lottery" jdbcType="DECIMAL" property="minBetAmountLottery" />
    <result column="max_bet_amount_lottery" jdbcType="DECIMAL" property="maxBetAmountLottery" />
    <result column="max_times_lottery" jdbcType="INTEGER" property="maxTimesLottery" />
    <result column="exclude_play_type" jdbcType="VARCHAR" property="excludePlayType" />
  </resultMap>
  <select id="selectOpenPrintChanel" resultMap="BaseResultMap">
  select
  channelClassify.* 
  from dl_ticket_channel_lottery_classify channelClassify 
  left join dl_ticket_channel channel on channelClassify.ticket_channel_id=channel.id
  where 1=1
  and channel.channel_status=0
  and channelClassify.status=0
  and channelClassify.lottery_classify_id=#{lotteryClassifyId} 
  and cast(channelClassify.sale_end_time as SIGNED) &lt;= (#{minMatchStartTimeSeconds} - UNIX_TIMESTAMP(now()))/60
  and channelClassify.min_bet_amount &lt;= #{ticketMoney}
  and channelClassify.max_bet_amount &gt;= #{ticketMoney}
  and channelClassify.matchine_open_time &lt;= DATE_FORMAT(now(),'%H:%i:%S')
  and channelClassify.matchine_close_time &gt;= DATE_FORMAT(now(),'%H:%i:%S')
  and channelClassify.min_bet_amount_lottery &lt;= #{minBetAmountLottery}
  and channelClassify.max_bet_amount_lottery &gt;= #{maxBetAmountLottery}
  and channelClassify.exclude_play_type not like #{excludePlayType}
  </select>
</mapper>