<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dl.task.dao.DlTicketChannelLotteryClassifyMapper">
  <resultMap id="BaseResultMap" type="com.dl.task.model.DlTicketChannelLotteryClassify">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="ticket_channel_id" jdbcType="INTEGER" property="ticketChannelId" />
    <result column="ticket_channel_name" jdbcType="VARCHAR" property="ticketChannelName" />
    <result column="lottery_classify_id" jdbcType="INTEGER" property="lotteryClassifyId" />
    <result column="lottery_classify_name" jdbcType="VARCHAR" property="lotteryClassifyName" />
    <result column="game" jdbcType="VARCHAR" property="game" />
    <result column="min_bet_amount" jdbcType="DECIMAL" property="minBetAmount" />
    <result column="max_bet_amount" jdbcType="DECIMAL" property="maxBetAmount" />
    <result column="sale_end_time" jdbcType="VARCHAR" property="saleEndTime" />
    <result column="matchine_open_time" jdbcType="VARCHAR" property="matchineOpenTime" />
    <result column="matchine_close_time" jdbcType="VARCHAR" property="matchineCloseTime" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="add_time" jdbcType="INTEGER" property="addTime" />
    <result column="update_time" jdbcType="INTEGER" property="updateTime" />
  </resultMap>
</mapper>