<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dl.task.dao.DlTicketChannelMapper">
  <resultMap id="BaseResultMap" type="com.dl.task.model.DlTicketChannel">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="channel_name" jdbcType="VARCHAR" property="channelName" />
    <result column="channel_code" jdbcType="VARCHAR" property="channelCode" />
    <result column="ticket_url" jdbcType="VARCHAR" property="ticketUrl" />
    <result column="ticket_merchant" jdbcType="VARCHAR" property="ticketMerchant" />
    <result column="ticket_merchant_password" jdbcType="VARCHAR" property="ticketMerchantPassword" />
    <result column="ticket_notify_utl" jdbcType="VARCHAR" property="ticketNotifyUtl" />
    <result column="channel_status" jdbcType="INTEGER" property="channelStatus" />
    <result column="add_time" jdbcType="INTEGER" property="addTime" />
    <result column="update_time" jdbcType="INTEGER" property="updateTime" />
  </resultMap>
  <select id="selectChannelByChannelId" resultMap="BaseResultMap">
  	 select * from dl_ticket_channel where id=#{printChannelId}
  </select>
</mapper>