<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dl.task.dao.SysConfigMapper">
  <resultMap id="BaseResultMap" type="com.dl.task.model.SysConfig">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="business_id" jdbcType="INTEGER" property="businessId" />
    <result column="value" jdbcType="VARCHAR" property="value" />
    <result column="describtion" jdbcType="VARCHAR" property="describtion" />
  </resultMap>
  <select id="selectConfigByBusinessId" resultMap="BaseResultMap">
  		select * from dl_sys_config where business_id=#{businessId}
  </select>
  <update id="updateConfigByBusinessId">
       update dl_sys_config set value=#{value} where business_id=1 and value!=1
  </update>
</mapper>